@import '../utils/placeholder';

.advantage {
  @extend %margin;
}

.advantage-text {
  @extend %advantage-text;
}

.section-subtitle {
  @extend %section-subtitle;
}

.section {
  @extend %section-size;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages {
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0px;
  }

  //   padding-bottom: 5px;
}

.advantages-card {
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  padding: 25px 190px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding: 25px 142px;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px 100px;
  }
}

.advantage-info {
  height: 226px;

  @media screen and (min-width: 1200px) {
    height: 251px;
  }
}
