@import '../utils/placeholder';

.advantage-text {
  @extend %advantage-text;
}

.advantage {
  @extend %margin;
}

.section {
  @extend %section-size;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-subtitle {
  @extend %section-subtitle;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantage-item {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages {
  @media screen and (max-width: 767px) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.advantages-card {
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  padding: 25px 100px;
  margin-bottom: 30px;

  text-align: center;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advantage-info {
  @media screen and (min-width: 1200px) {
    height: 251px;
  }
}
